{% extends 'video_games/base.html' %}

{% block content %}

<h2>About Video Games Sales</h2>

<p>This site draws from the  <a href="https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings"
                                  alt="Video Games">Kaggle Video Games Data.</a>
  The data presented here will be the Sales Data/records for a given video game for up to all five listed regions:
  Global, European Union, Japan, North America and Other. Video Games can be searched manually through the list view under
  "Games" or can be searched using a filter under "Search".The "Developers" will provide all video_games created by a
  developer and allow for modifications by authenticated users. Lastly, the sale ID and millions of units sold can be found
  for each video game with "Sales" data available.
</p>

{% endblock content %}
