{% extends 'video_games/base.html' %}

{% block content %}
  {% if user.is_authenticated %}

    <h2>Developer #{{ developer.developer_name }}</h2>


    {% if developer.developer_id %}

    {% if developer.developer_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Developer Name</p>
        </div>
        <div class="col-sm-10">
          <p>{{ developer.developer_name }}</p>
        </div>
      </div>
    {% endif %}

    {% if developer.developer_id %}
      <div class="row">
        <div class="col-sm-2">
          <p>Developer ID</p>
        </div>
        <div class="col-sm-10">
          <p>{{ developer.developer_id }}</p>
        </div>
      </div>
    {% endif %}

    {% endif %}

  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}
