{% extends 'video_games/base.html' %}

{% block content %}

<h2>Video Games</h2>

<p>The data set that will be used for this project can be found on
Kaggle at the following link: (https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings).
This data is a summary of video game sales across the world, primarily broken down into four regions of sales.
The data includes a comprehensive list of video games from across platforms, genres of games, and years of release.
For each game fields will be displayed to give users a description of the game and allow
users to view several attributes related to a given video game's sales. Another feature of this project includes
the ability to view all video_games created by a developer and make modifications to the developers.
Additional functionality has been built to allow authenticated users to make edits to the records
for both the video games and developers. Lastly, the editing functions can be executed using forms built
into the list pages or using the created API.
<br><br>
For any questions or concerns please reach out to Michael Cantley at mjcantle@umich.edu.<br><br> Thank you!</p>

{% endblock content %}
