{% extends 'video_games/base.html' %}

{% block content %}
  {% if user.is_authenticated %}

    <article>
      <header>
        <h2>Sale Data</h2>
      </header>

    {% include 'video_games/pagination.html' %}


      {% if sales %}
        {% for sale in sales %}
          <div class="row">
            <div class="col-sm-5">
              <p><a href="{% url 'sale_detail' sale.pk %}">{{ sale.game.game_name }} --- {{sale.region.region_name}}</a></p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No Sales are available to view.</p>
      {% endif %}

      <p>Count: {{ sales.count }}</p>
    </article>

  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}}
